.navbar {
  background-color: gray;
  height: 80px;
  margin-bottom: 0px;
}

.navbar-brand a {
  font-size: 50px;
  padding: 30px 70px 10px 30px;
  color: blue;
}

.navbar-brand {
  font-size: 50px;
  padding: 30px 70px 10px 30px;
  color: yellow;
}

#myNavbar {
  font-size: 20px;
}

#banner {
  background-image: url("../images/pic1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.form-inline {
  padding-top: 150px;
  padding-bottom: 50px;
}

#number {
  width: 300px;
  height: 50px;
  background-color: white;
  font-size: 40px;
  text-align: center;
}

#click {
  height: 50px;
  width: auto;
  background-color: black;
  color: white;
}

#result {
  list-style: none;
  color: blue;
  font-size: 30px;
  background-color: white;
  padding-top: 20px;
}

.output {
  width: 40%;
  height: 300px;
  margin: auto;
  overflow: scroll;
}

h3 {
  color: white;
  font-size: 50px;
  padding-top: 150px;
  margin: 0px;
}
